* {
    font-family: Arial, Helvetica, sans-serif;
    color: #1f1c0d;
}

body {
    background-color: #FEE9FC;
}

#header {
    width: 100%;
    height: 200px;
    background-color: #FFC5E5;
    position: absolute;
    left: 0.2px;
    top: 0.2px;
}

.header-menu {
    display: inline-block;
    margin-left: 400px;
    margin-top: 50px;
}

h3 {
    display: inline-block;
    margin-left: 150px;
}

.about-section { 
    margin-top: 300px;
    margin-left: 400px;
    margin-right: 300px;
}

#about-title {
    margin-left: 500px;
    font-size: 32px;
}

#about-paragraph {
    font-size: 20px;
}

.services-section {
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 300px;
}

#services-title {
    margin-left: 465px;
    font-size: 32px;
}

article {
    float: left;
    width: 100%;
    padding: 10px 50px;
}

.product {
    float: left;
    padding-left: 30px;
    margin-left: 30px;
    line-height: 363px;
}

.left {
    width: 550px;
    float: left;
    display: inline-block;
}

.right {
    width: 550px;
    float: right;
    display: inline-block;
}

.contact-section {
    margin-top: 1800px;
    margin-left: 750px;
}

.socialmedia-icon {
    width: 64px;
    display: inline-block;
    margin-left: 100px;
    margin-top: 5px;
}

a {
    text-decoration: none;
}

#footer {
    width: 100%;
    margin-top: 150px;
    height: 100px;
    background-color: #FFC5E5;
    position: absolute;
    left: 0.2px;  
} 

#paragrafo-footer {
    margin-left: 45%;
    margin-top: 40px;
}
